.header {
  padding-bottom: var(--size-md);
  border-bottom: var(--border-lightGray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.greetings {
  color: var(--black);
  font-weight: 500;
}

.date {
  color: var(--opaque-black);
}

@media (min-width: 798px) {
  .header {
    margin: var(--size-md) var(--size-xl) 0px var(--size-2xl);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .greetings {
    font-size: var(--size-md);
  }
}
