.taskListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: var(--border-lightGray);
  padding: var(--size-md);
  border-radius: var(--rounded-md);
  gap: var(--size-md);
}
.tasksList {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.listParagraph {
  color: var(--opaque-black);
  text-align: center;
}
@media (min-width: 798px) {
  .taskListContainer {
    padding: var(--size-lg);
  }

  .tasksList {
    gap: var(--size-md);
  }
}
